<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bulma.min.css') }}"/>
    </head>
    <body>
    <section class="section">
        <div class="container">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="notification is-success">{{ flash_message }}</div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="notification is-danger">{{ flash_message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
        </div>
    </section>
    {% block javascripts %}{% endblock %}
    </body>
</html>
