{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Create a new Contact</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button is-primary mt-1 mb-1" type="submit" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('contact_index') }}">Back to the list</a>
{% endblock %}
